---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import Picture from '~/components/core/Picture.astro';

import TableHead from '~/components/core/TableHead.astro';

import products from "../assets/data/Products.json"

import {getById, getSlug} from "../utils/main";

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<link rel="stylesheet" type="text/css" href="./css/datatables.min.css"/>
    <script type="text/javascript" src="./js/datatables.min.js"></script>

    <section class="container mx-auto p-6 font-mono">
        <div class="flex items-center bg-center flex-col lg:flex-row p-3 gap-6 after:bg-slate-900 relative after:opacity-75 after:w-full after:h-full after:absolute after:top-0 after:left-0 rounded-t-lg" style="background-image: url(&quot;./images/resources.png&quot;);">
            <img class="relative z-10 hidden lg:block" src="./images/resources.png" alt="Resources" style="" width="120" height="84">
            <h4 class="text-white text-4xl relative z-10">Products</h4>
        </div>

        <section class="container mx-auto dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white">
            <table id="refinery" class="" data-order='[[ 4, "dasc" ]]' data-page-length='100'>
                <TableHead cols={["Resource 1", "Resource 2" , "Resource 3", "Product", "Value"]}>

                </TableHead>
                <tbody>
                    {products.map((item) => (
                        item.RequiredItems.length != 0 &&
                        <tr>
                            {item.RequiredItems.map((item2) => (
                                <td style={'background: #'+ getById(item2.Id).Colour}>
                                    <a class="dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white hover:bg-transparent dark:hover:bg-transparent" href={getSlug(item2.Id) + item2.Id}>
                                        <div class="flex items-center text-sm">
                                            <div class="relative w-16 h-16 mr-3 md:block rounded-md" style={'background: #'+ item.Colour}>
												<Picture
													src={'./images/'+getById(item2.Id).Icon}
													class="mx-auto w-full"
													widths={[100]}
													alt={getById(item2.Id).Name}
													aspectRatio="1:1"
												/>
                                            </div>
                                            <div>
                                                {getById(item2.Id).Name} {item2.Quantity != 1 && <strong class="font-light">x{item2.Quantity}</strong>}
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            ))}
                            {item.RequiredItems.length == 1 && <td></td><td></td>}
                            {item.RequiredItems.length == 2 && <td></td>}
                            <td style={'background: #'+ item.Colour}>
                                <a  class="dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white hover:bg-transparent dark:hover:bg-transparent"  href={getSlug(item.Id) + item.Id}>
                                    <div class="flex items-center text-sm">
                                        <div class="relative w-16 h-16 mr-3 md:block rounded-md" style={'background: #'+ item.Colour}>
											<Picture
												src={'./images/'+item.Icon}
												class="mx-auto w-full"
												widths={[100]}
												alt="Hero Image"
												aspectRatio="1:1"
											/>
                                        </div>
                                        <div>
                                            { item.Name }
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="text-center">
                                {item.BaseValueUnits}
                            </td>
                        </tr>
                    ))}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Resource 1</th>
                        <th>Resource 2</th>
                        <th>Resource 3</th>
                        <th>Product</th>
                        <th>Value</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </section>

    <script type="module">
        $('#refinery').DataTable();
    </script>
</Layout>
