---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';

import { getSlug, sort } from '@utils/lookup.js';
import data from '@data/Curiosities.json';

export async function getStaticPaths({ paginate }) {
	return paginate(sort(data), { pageSize: 12 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<Layout
	title="Curiosities | No Man's Sky Recipes"
	description="A list of curiosities for No Man's Sky. Our guide has everything you need to take your game to the next level."
	slug="curiosities"
>
	<h1 class="text-center text-4xl sm:text-6xl mt-2 mb-8">Curiosities</h1>
	<div id="items" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			page.data.map((item, index) => (
				<Card
					card={{
						name: item.Name,
						description: item.Description,
						button: 'View Item',
						image: 'https://app.nmsassistant.com/assets/images/' + item.Icon,
						link: getSlug(item.Id) + item.Id,
						value: item.BaseValueUnits,
					}}
					index={index}
				/>
			))
		}
	</div>

	<div class="div flex gap-4 justify-center items-center my-8">
		{
			page.url.prev ? (
				<a class="btn" href={page.url.prev}>
					Previous
				</a>
			) : null
		}
		Page: {page.currentPage} of {page.total}
		{
			page.url.next ? (
				<a class="btn" href={page.url.next}>
					Next
				</a>
			) : null
		}
	</div>
</Layout>
