---
import { Picture } from '@astrojs/image/components';
import Disclosure from '@components/Disclosure.jsx';
import Accordion from '@components/Accordion.astro';
const { items } = Astro.props;
---

{
	items.RequiredItems != null
		? items.RequiredItems.map((item) =>
				item.RequiredItems != null && item.RequiredItems.length != 0 ? (
					<Accordion>
						<div class="flex" slot="title">
							<div class="mr-4 flex-shrink-0 self-start">
								<Picture
									src={'https://app.nmsassistant.com/assets/images/' + item.Icon}
									alt={item.Name}
									widths={[50]}
									aspectRatio="1:1"
									sizes="50px"
									width={50}
									height={50}
									background={null}
								/>
							</div>
							<div class="flex items-center">
								<h4 class="text-lg font-bold">
									{item.Name} x
									<span data-quantity={item.Quantity}>{item.Quantity}</span>
								</h4>
							</div>
						</div>
						<div slot="content">
							{<Astro.self items={item} />}
						</div>
					</Accordion>
				) : (
					<div class="flex" slot="title">
						<div class="mr-4 flex-shrink-0 self-start">
							<Picture
								src={'https://app.nmsassistant.com/assets/images/' + item.Icon}
								alt={item.Name}
								widths={[50]}
								aspectRatio="1:1"
								sizes="50px"
								width={50}
								height={50}
								background={null}
							/>
						</div>
						<div>
							<h4 class="text-lg font-bold mt-1">
								{item.Name} x
								<span data-quantity={item.Quantity}>{item.Quantity}</span>
							</h4>
						</div>
					</div>
				)
		  )
		: null
}
