---
import NestedList from './NestedList.astro';
import { getById, findOutput, Item } from '@utils/lookup.js';

const item: Item = Astro.props.item;

let rawItems = [];

const createArray = (item: Item) => {
	const array = [];
	for (let i = 0; i < item.RequiredItems.length; i++) {
		const item2: Item = item.RequiredItems[i];
		const itemData = getById(item2.Id);
		let RequiredItems: Array<any> = itemData.RequiredItems;

		if (itemData.RequiredItems.length) {
			RequiredItems = createArray(itemData);
		} else {
			let record = rawItems.find((r: Item) => r.Name === itemData.Name);

			if (!record) {
				rawItems.push({
					Name: itemData.Name,
					Icon: itemData.Icon,
					Colour: itemData.Colour,
					Quantity: item2.Quantity,
				});
			} else {
				let index = rawItems.indexOf(record);
				rawItems[index].Quantity += item2.Quantity;
			}
		}
		array.push({
			Name: itemData.Name,
			Icon: itemData.Icon,
			Colour: itemData.Colour,
			Quantity: item2.Quantity,
			RequiredItems: RequiredItems,
		});
	}
	return array;
};

const getOutputs = (item) => {
	// Map the inputs and get the details of each input item using `getById` function
	const inputs = item.Inputs.map((element) => {
		const i: Item | undefined = getById(element.Id);
		// If item is not found, return undefined
		if (!i) return;
		// Return the item details
		return {
			ref: element.id,
			id: i.Id,
			name: i.Name,
			description: i.Description,
			value: i.BaseValueUnits,
			amount: element.Quantity,
			image: i.Icon,
			colour: i.Colour,
		};
	});

	// Get the details of the output item using `getById` function
	const o: Item | undefined = getById(item.Output.Id);
	// If item is not found, return undefined
	if (!o) return;
	// Return the item details
	const output = {
		id: o.Id,
		name: o.Name,
		description: o.Description,
		value: o.BaseValueUnits,
		amount: item.Output.Quantity,
		image: o.Icon,
		colour: o.Colour,
	};

	// Combine the inputs and output data in a new object
	const newItem = {
		input_1: inputs[0],
		input_2: inputs[1],
		input_3: inputs[2],
		output
	};
	return newItem;
};

const data = createArray(item);

const output = findOutput(item.Id).map(getOutputs).filter(Boolean);
---

<h1 style={'background-color: #' + item.Colour}>{item.Name}</h1>
<p>{item.Group}</p>
<p>{item.Description}</p>
<p>{item.BaseValueUnits}</p>

<h1>Crafing</h1>

<ul style="display: flex;">
{
	data.map((item) => (
		<li>
			{item.Name}
			{item.RequiredItems && <NestedList items={item.RequiredItems} />}
		</li>
	))
}
</ul>


<h1>Refine</h1>
{JSON.stringify(output, null, 2)}

<!-- {JSON.stringify(data, null, 2)}
<br /><br /><br /><br /><br /><br /><br /><br /><br />
{JSON.stringify(rawItems, null, 2)} -->

<style is:global>
	ul ul {
		padding-left: 30px;
	}
</style>
