---
import '../assets/css/main.css';
import { SITE } from '@config';
import { inject } from '@vercel/analytics';

import Sidebar from '@layouts/Sidebar.jsx';
import Search from '@components/Search.astro';
import SearchModal from '@components/SearchModal.astro';
import Footer from '@components/Footer.jsx';

export interface Props {
	title?: string;
	author?: string;
	description?: string;
	ogImage?: string;
	slug?: string;
}

const { title = SITE.title, author = SITE.author, description = SITE.desc, slug } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const bgNumber = Math.floor(Math.random() * 12) + 1;

inject();
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-black font-nms text-lg text-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/icon.png" sizes="32x32" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta name="author" content={author} />

		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />

		<link
			rel="preload"
			as="font"
			href="/fonts/FuturaProBook.woff2"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			href="/fonts/FuturaProBook.woff"
			type="font/woff"
			crossorigin="anonymous"
		/>
		<link rel="preload" as="image" href={`/images/backgrounds/bg${bgNumber}.webp`} />
	</head>
	<body class={`bg${bgNumber} h-full ${slug === '/' ? 'home' : ''}`}>
		<Sidebar client:load slug={slug}>
			<slot slot="layout" />
		</Sidebar>
		<SearchModal />
		<Search />
		<Footer />
	</body>
</html>