---
import '../assets/scss/globals.scss';
import { SITE } from '@config';
import Navigation from '@components/Navigation.astro';
import Topbar from '@components/Topbar.astro';
import Footer from '@components/Footer.astro';

export interface Props {
	title?: string;
	author?: string;
	description?: string;
	ogImage?: string;
}

const {
	title = SITE.title,
	author = SITE.author,
	description = SITE.desc,
	ogImage = SITE.ogImage,
} = Astro.props;



const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(ogImage ? ogImage : SITE.ogImage, Astro.url.origin).href;
const fallbackImageURL = new URL(SITE.ogImage, Astro.url.origin).href;
---

<!DOCTYPE html>
<html lang="en" style="background-color: black;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />

		<!-- General Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta name="author" content={author} />

		<!-- Open Graph / Facebook -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={socialImageURL} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta
			property="twitter:image"
			content={socialImageURL.endsWith('.svg') ? fallbackImageURL : socialImageURL}
		/>
	</head>
	<body>
		<Navigation />
		<div class="main-wrapper" >
			<Topbar />
			<main id="main-content">
				<slot />
			</main>
			<Footer />
		</div>

	</body>
</html>

<style lang="scss">
	html,
	body {
		height: 100%;
		overflow-x: hidden;
	}
	body {
		display: flex;
		width: 100%;
		align-items: stretch;
		perspective: 1500px;
		background-color: var(--background);
		main {
			flex: 1 0 auto;
		}
		footer {
			flex-shrink: 0;
		}
	}
	.d-none {
		display: none !important;
	}
	.main-wrapper {
		overflow-x: hidden;
		width: 100%;
	}
	#main-content {
		padding: 1rem;
		background-color: var(--secondary);
	}
</style>
